@define-color rosewater	#f5e0dc;
@define-color flamingo 	#f2cdcd;
@define-color pink 		#f5c2e7;
@define-color mauve 	#cba6f7;
@define-color red 		#f38ba8;
@define-color maroon 	#eba0ac;
@define-color peach 	#fab387;
@define-color yellow 	#f9e2af;
@define-color green 	#a6e3a1;
@define-color teal 		#94e2d5;
@define-color sky 		#89dceb;
@define-color sapphire 	#74c7ec;
@define-color blue 		#89b4fa;
@define-color lavender 	#b4befe;

@define-color gray50  #f6f6f6;
@define-color gray100 #e7e7e7;
@define-color gray200 #d1d1d1;
@define-color gray300 #b0b0b0;
@define-color gray400 #888888;
@define-color gray500 #6d6d6d;
@define-color gray600 #5d5d5d;
@define-color gray700 #4f4f4f;
@define-color gray800 #454545;
@define-color gray900 #3d3d3d;
@define-color gray950 #090909;

@define-color cursor #CDD6F4;
@define-color background #1E1E2E;
@define-color foreground #CDD6F4;
@define-color color0  #45475A;
@define-color color1  #F38BA8;
@define-color color2  #A6E3A1;
@define-color color3  #F9E2AF;
@define-color color4  #89B4FA;
@define-color color5  #F5C2E7;
@define-color color6  #94E2D5;
@define-color color7  #BAC2DE;
@define-color color8  #585B70;
@define-color color9  #F38BA8;
@define-color color10 #A6E3A1;
@define-color color11 #F9E2AF;
@define-color color12 #89B4FA;
@define-color color13 #F5C2E7;
@define-color color14 #94E2D5;
@define-color color15 #A6ADC8;
